<footer>
    <span>
        <a href="http://twitter.com/0xmzfr" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="http://github.com/mzfr" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="http://keybase.io/mzfr" target="_blank"><i class="fab fa-keybase fa-2x"></i></a>
        <a href="https://www.fiverr.com/mehtabzafar" target="_blank" title="Hire me"><i
                class="fas fa-briefcase fa-2x"></i></a>
        <a href="mailto:zafarduffer@protonmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
    </span>
</footer>
