{{- define "main" }}

{{- $pages := union .RegularPages .Sections }}

{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- partial "home_info.html" . }}

{{- range $pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span >{{.Title}}</span>
						<span class="post-day">{{ .Date | time.Format (.Site.Params.dateFormat | default "Jan 2" ) }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
{{- end }}
{{- end }}{{- /* end main */ -}}
