{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  <div class="underline"></div>
</header>
<div class="grid_parent">
  <p>
    There was a time when I use to actively solve boot2root machines and while solving them I'd do writeups, to help others. These are collections of my old writeups.
  </p>
</div>
<div class="grid_parent">
  <div class="teams-section">
    <div class="team-item">
      <div>
        <h3>
          <a href="https://blog.mzfr.me/HackTheBox-writeups/">
          HackTheBox

            &nbsp;
          <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
          </svg>
          </a>
        </h3>
        <br>
        <p>
          I rarely did HTB because back then I didn't have the VIP and solving public machines was incredibly tedious work. So there are only 10-15 writeups for HTB machines.
        </p>
      </div>
        <br>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" target="_blank" href="https://blog.mzfr.me/HackTheBox-writeups/">View Writeups</a>
    </div>
    </div>
    <div class="team-item">
      <div>
        <h3>
          <a href="https://blog.mzfr.me/vulnhub-writeups/">
          Vulnhub 
            &nbsp;
          <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
          </svg>
          </a>
        </h3>
        <br>
        <p>
           This was my goto for VMs. I use to try to solve the machines as quickly as possible and then use to tweet about solving it. 
           Then I'd wait a day or two before making the write-up public. This contains 50+ writeups.
        </p>
      </div>
        <br>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" target="_blank" href="https://blog.mzfr.me/vulnhub-writeups/">View Writeups</a>
      </div>
    </div>
    <div class="team-item">
      <div>
        <h3>
          <a href="http://blog.mzfr.me/wizardseclabs/">WizardSecLabs 
            &nbsp;
          <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
          </svg>

          </a>
        </h3>
        <br>
        <p>
        Back in 2019, WizardSecLabs was new in town but had a few fun VMs. Unfortunately, it was shut down due to COVID-19
        </p>
      </div>
        <br>
      <div class="btn-team-members">
        <a class="site-button btn-secondary" target="_blank" href="http://blog.mzfr.me/wizardseclabs/">View Writeups</a>
      </div>
    </div>
{{- end }}{{/* end main */}}
